body
{
    color: black;
    background: blue;
}
.heading
{
    width: 80%;
    font-size: 22px;
}
.name_of_familly_members, #result_family_member_name, #result_family_member_accuracy
{
    color: yellow;
}
#camera
{
    border: 2px dashed white;
    width: 350px;
    height: 300px;
}